@inject Auth0Client Auth0Client

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="#" @onclick="Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="#" @onclick="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public async Task Login()
    {
        await Auth0Client.LogInAsync();
    }

    public void Logout()
    {
        Auth0Client.LogOut();
    }
}